section{
    background-color: rgb(95, 0, 0);
    color: aliceblue;
    border-radius: 20px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    
    
}
.container{
    align-items: center;
    margin-bottom: 20px;
}
.card{
   opacity: 0.5;
   margin-left: 15px;
    
}
.card:hover{
    opacity: 1.0;
}